<html>
  <head>
    <title>Flask Shop</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>{{message}}</h1>

    <h3>On sale this week alone:</h3>
    <ol>
      <li>Flask Website</li>
      <li>Python Game</li>
      <li>Minecraft Client</li>
    </ol>
    .. >
</ol>

    <h4 id="version" style="color:white;">Backbone</h4>

    <script src="/static/scripts.js" charset="utf-8"></script>
    <script src="/static/js/lib/underscore.js" charset="utf-8"></script>
    <script src="/static/js/lib/backbone.js" charset="utf-8"></script>
    <script type="text/javascript">
      document.getElementById('version').innerHTML = "Proudly built with Backbone.js version " + Backbone.VERSION;
    </script>
  </body>
  ...

    <script src="/static/js/scripts.js" charset="utf-8"></script>
  </body>
</html>